@charset  "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #2C34DB;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #2228A8;
}

img.lado {
    float: right;
}

h2 {
    text-align: center;
}

p {
    color: #12165C;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.87);
    

}




