@charset  "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(14, 198, 204, 0.945);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.87);
    

}




